body {
    background: #000000;
    font-family: "Helvetica Neue", sans-serif;
    padding-top: 40px;
    display: block;
}


.card {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}
.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* optional */
}

.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-wrapper input {
    width: 350px;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blurred-layer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://plus.unsplash.com/premium_photo-1679692887717-dc7f5d090271?q=80&w=774&auto=format");
    background-size: cover;
    background-position: bottom;
    filter: blur(10px);
    z-index: 1;

    mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

.content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 2;
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.content p {
    font-size: 14px;
    color: #ddd;
    line-height: 1.4;
}
